<div id="Inbox" *ngIf="selectedItem === 'Inbox'">
    <ul class="inboxList">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  This is the expansion title
                </mat-panel-title>
                <mat-panel-description>
                  This is a summary of the content
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Self aware panel
                </mat-panel-title>
                <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
          </mat-accordion>
    </ul>
</div>
<div id="Notifications" *ngIf="selectedItem === 'Notifications'">
    <ul>
        <li>Monday meeting</li>
        <li>Regarding org chart changes</li>
        <li>Meeting with Cliff</li>
        <li>Global Marketing Meeting</li>
        <li>Out tonight with collegues?</li>
    </ul>
</div>
<div id="Calendar" *ngIf="selectedItem === 'Calendar'">
    <ul>
        <li>
            <h6>11/5 Monday</h6>
            <p>Martha Birthday</p>
        </li>
        <li>
            <h6>15/6 Sunday</h6>
            <p>Job interview for internal position</p>
        </li>
    </ul>
</div>
<div id="Attachments" *ngIf="selectedItem === 'Attachments'">
    <ul>
        <li>Build enterprise apps</li>
        <li>Fw: Regarding Multiline textbox</li>
        <li>Away next week</li>
        <li>Fw: Your Costume is ready</li>
        <li>Update completed</li>
    </ul>
</div>
<div id="Favourites" *ngIf="selectedItem === 'Favourites'">
    <ul>
        <li>70% Discount!</li>
        <li>90% Discount!</li>
        <li>One time offer!</li>
    </ul>
</div>